.popup {
  max-width: 480px;
  padding: 1rem;
  font-family: "Lato", sans-serif;
}

.popup-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.popup-footer {
  text-align: center;
}

.popup-logo {
  flex-basis: 48px;
  order: 1;
}

.popup-title {
  padding-left: 10px;
  flex-basis: auto;
  order: 2;
}

.popup-version {
  flex-basis: 100%;
  order: 3;
}

.popup-version small {
  color: grey;
}

.popup-app table {
  width: 100%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  font-size: 14px;
  font-size: 0.875rem;
}

.popup-app td {
  padding: 5px;
}
